@import "../../../scss/color";
@import "../../../scss/utils";
@import "../../../scss/mixins";
.table_container {
  background-color: $white;
  padding: 20px 0;
  border-radius: 30px;
  width: 100%;
  overflow-x: scroll;
}
.table {
  @include mq($width: 888px) {
    overflow-x: scroll;
  }
}
