:root {
  --Black: #1e202c;
  --Blue: #1847ed;
  --Pink: #fa55a4;
  --Green: #64cf78;
  --Gray: #6c6b6b;
  --Light-gray: #dedada;
  --Light: #ffffff;
}
.Abs-title {
  padding: 10px 1.2rem;
}
.Abs-list {
  padding-bottom: 12px;
  min-height: 150px;
  max-height: 470px;

  overflow: auto;
  scrollbar-width: none;
}

.amb-delete {
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 17px;
  margin: 10px 0;
}
.Abs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0 1rem;
  align-items: center;
  border-top: 1px solid var(--Light-gray);
}
.Abs-info-section {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 1rem;

  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
  border-bottom: 1px solid var(--Light-gray);
}
.Abs-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid var(--Pink);
  border-radius: 50%;
  width: 75px;
}
.Abs-img {
  width: 100%;
  height: 70px;
  border-radius: 50%;
}
.Abs-name {
  text-transform: capitalize;
}
.Abs-email {
  color: var(--Pink);
  text-transform: lowercase;
}
.Abs-details {
  width: 60%;

  font-size: 1rem;
  font-weight: 700;
}

/* stats section  */

.Abs-stat-section {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.top-stats {
  display: flex;
  justify-content: space-between;

  padding: 1rem 10px;
  border-bottom: 1px solid var(--Light-gray);
}
.bottom-stats {
  display: flex;
  justify-content: space-between;

  padding: 1rem 10px;
}
.stat-wrapper {
  text-align: center;
}
.stat-tag {
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 4px;

  font-size: 15px;
  font-weight: 600;

  color: var(--Light);
  text-decoration: none;
  outline: none;
}
.blue-tag {
  background-color: var(--Blue);
}
.pink-tag {
  background-color: var(--Pink);
}
.black-tag {
  background-color: var(--Black);
}
.green-tag {
  background: var(--Green);
  cursor: pointer;
}
.stat {
  font-weight: 600;
  font-size: 14px;
  padding: 4px 0;
  color: var(--Gray);
}

.Abs-not-found {
  font-size: 1.2rem;
  font-weight: 700;

  width: 100%;
  height: 150px;
  border-top: 1px solid var(--Light-gray);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .stat-tag {
    padding: 10px 15px;

    font-size: 1rem;
  }
  .stat {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .Abs {
    flex-direction: row;

    width: 100%;
    padding: 1rem;
  }

  .Abs-info-section {
    width: 40%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    padding: 0;
    border-bottom: none;
  }

  .Abs-details {
    width: 100%;
    text-align: center;

    font-size: 14px;
    font-weight: 600;
  }

  /* stats section  */

  .Abs-stat-section {
    width: 60%;
  }

  .stat-tag {
    padding: 6px 7px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .stat {
    font-size: 14px;
  }
  .top-stats {
    padding: 10px 10px 0px 10px;
    border-left: 1px solid var(--Light-gray);

    justify-content: space-around;
  }
  .bottom-stats {
    padding: 10px 10px 0px 10px;
    border-left: 1px solid var(--Light-gray);

    justify-content: space-around;
  }
}

@media screen and (min-width: 1280px) {
  .top-stats {
    justify-content: space-between;
  }
  .bottom-stats {
    justify-content: space-between;
  }
}
