@import "../../../scss/color";
@import "../../../scss/utils";
@import '../../../scss/mixins';

.data-table {
  border-spacing: 30px;
  width: 100%;
  margin-top: $margin_xl;
  border-collapse: collapse;
  th {
    font-weight: 100;
    font-size: 24px;
    border-bottom: 1px solid $border_grey;
    margin-bottom: 20px;
  }
  td {
    border-bottom: 1px solid $border_grey;
    text-align: center;
    margin-bottom: 20px;
    color: $black;
    padding: 0 20px;
    font-size: 20px;
  }
  tr {
    margin-bottom: $margin_md;
  }
}
